<!DOCTYPE html>
<html
  class="dark"
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="parent(content,title,script)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Base</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- navbar -->
    <header th:replace="components/navbar :: navbar"></header>
    <div class="dark:bg-gray-800 text-white p-4 w-full h-[120vh]">
      <content class="bg-gray-900" th:replace="${content}"></content>
    </div>
    <footer class="bg-red-300 p-4">this is my footer.</footer>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <th:block th:replace="${script}"></th:block>
  </body>
</html>
